version: 1.0.{build}
configuration: Release
os: Visual Studio 2015
install:
- set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%
- dnu restore
build:
  verbosity: normal
test: off
deploy:
- provider: Environment
  name: SovokXmltv